.cur-month{
    font-family: 'Mitr', sans-serif !important;
    font-weight: 300 !important;
  }

.flatpickr-weekday{
    font-family: 'Mitr', sans-serif !important;
    font-size: 100% !important;

}